@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');

body {
  margin: 0;
  padding: 0;
  margin: 0 auto;
  font-family: 'Roboto Mono', monospace;
  overflow-x: hidden;
}

.page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.menu {
  height: 100%;
  position: fixed;
  top: 0;
}

nav {
  height: 100%;
  width: 12vw;
  position: fixed;
  top: 0;
  background-color: #111131;
  color: #ffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.menu-buttons {
  text-align: center;
  top: 0;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-button,
.menu-active {
  padding-top: 2vw;
  padding-bottom: 2vw;
  width: 12vw;
}

.menu-active {
  background-color: #3f51b5;
}

.hamburger-lines {
  display: none;
}

a {
  text-decoration: none;
  color: #ffff;
  scroll-behavior: smooth;
}

.container {
  background-color: #202035;
  color: #ffff;
  width: 100%;
}

.section {
  height: 100vh;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  margin-bottom: 2vh;
}

.label {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 3vh;
  padding-top: 5vh;
}

.home-contents {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
  width: 60%;
}

.header {
  font-size: 40px;
}

.header-fs {
  margin-top: 2vh;
  font-size: 60px;
  font-weight: bolder;
  background: -webkit-linear-gradient(#3f51b5, #e91e63);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-btn {
  border: none;
  font-size: 20px;
  padding: 1%;
  cursor: pointer;
  height: 8vh;
  width: 15vw;
  color: #ffff;
  background: linear-gradient(90deg, #3f51b5, transparent) #2196f3;
  transition: background-color 1s;
}

.contact-btn:hover {
  background-color: #e91e63;
}

.skills {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-42%, -50%);
  width: 75%;
}

.skills-contents {
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;
}

.skill-section {
  border: none;
  font-size: 25px;
  padding: 2vw;
  height: 2vh;
  width: 20vw;
  color: #ffff;
  background: linear-gradient(90deg, #3f51b5, transparent) #2196f3;
}

.skill-name {
  font-size: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.elements {
  display: flex;
  flex-wrap: wrap;
  width: 20vw;
  padding: 2vw;
  justify-content: space-around;
  align-items: center;
  background-color: #ffff;
}

.element {
  padding: 1vh;
  color: black;
  margin-top: 1vh;
  margin-left: 2%;
  margin-right: 2%;
}

.element img {
  height: 80px;
  width: auto;
}

.contacts-contents {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -50%);
  width: 45%;
}

.contact-form {
  margin: 0 auto;
}

input,
textarea {
  font-size: 18px;
  padding-left: .5vw;
}

textarea {
  padding-top: 1vh;
  margin-bottom: 4vh;
}

.inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.inputs+.textarea-div {
  margin-top: 3vh;
}

.input-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-right: 1vw;
}

.textarea-div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-div+.input-div {
  padding-left: 1vw;
  padding-right: 0;
}

.contact-input {
  height: 5vh;
}

label {
  font-size: 28px;
}

.label-error {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2vh;
}

.error-message {
  color: #e91e63;
  padding-left: 1vw;
}

p {
  margin: 0;
}

.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5vh;
}

.socials .element {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

.element-link a {
  transition: color 0s;
}

.element-link:hover a {
  color: #e91e63;
  transition-delay: .08s;
}

.element-link a .element-icon {
  height: 8vh;
  width: auto;
}

.element-link+.element-link {
  margin-left: 1vw;
}

#cv {
  font-size: 4vh;
  font-weight: 800;
  border: solid .8vh #e91e63;
  padding: .5vh;
}

.about {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -50%);
  width: 50%;
}

.about-element {
  font-size: 20px;
  line-height: 4vh;
}

.about-element+.about-element {
  margin-top: 3vh;
}

b {
  color: #e91e63;
}

.warning {
  border: 1px solid #3f51b5;
  padding: 2%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: justify;
  line-height: 2.5vh;
}

.fa-exclamation {
  margin-right: .5vw;
  font-size: 20px;
}

.experience {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-42%, -50%);
  width: 80%;
}

.experience .label {
  margin-top: 3vh;
}

.experience-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.project {
  height: 30vh;
  width: 20vw;
  background-color: #2196f3;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 20px;
  margin-left: .5vw;
  margin-right: .5vw;
  margin-top: 2vh;
}

.project-links a .element-icon {
  height: 3vh;
  width: auto;
}

.project-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2vh;
}

.project-name {
  margin-top: 2vh;
  font-weight: bolder;
  font-size: 30px;
}

.project-desc {
  margin-top: 2vh;
  font-size: 20px;
}

.tech {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2vh;
  font-weight: bold;
  font-size: 18px;
}

.tech-el {
  margin-left: .5vw;
  margin-right: .5vw;
}

@media (max-width: 1850px) {
  .menu-buttons {
    font-size: 16px;
  }

  .skill-name {
    font-size: 18px;
  }

  .element img {
    height: 65px;
    width: auto;
  }

  .contacts-contents {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
    width: 45%;
  }
}

@media (max-width: 1600px) {
  .warning {
    font-size: 14px;
  }

  .tech-el {
    font-size: 14px;
  }

  .project-name {
    font-size: 22px;
  }

  .project-desc {
    font-size: 16px;
  }
}

@media (max-width: 1300px) {
  body {
    height: auto;
    width: auto;
  }

  .container {
    height: auto;
  }

  .skill-section {
    width: 35vw;
  }

  .skills-contents {
    justify-content: center;
  }

  .column {
    width: 35vw;
    overflow: hidden;
    margin-bottom: 3vh;
    margin-left: 1vw;
    margin-right: 1vw;
  }

  .elements {
    width: 35vw;
    padding: 0;
  }

  .element {
    margin-left: .5vw;
    margin-right: .5vw;
  }

  .skill-name {
    font-size: 18px;
  }

  .element img {
    height: 55px;
    width: auto;
  }
}

@media (max-width: 1100px) {
  .container {
    height: auto;
    margin-left: 0;
  }

  .about {
    width: 70%;
    position: absolute;
    z-index: 1;
  }

  .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    right: 20px;
    opacity: 0;
    cursor: pointer;
    z-index: 2000;
  }

  .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    right: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1900;
  }

  .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #ffff;
  }

  .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: .5rem;
    width: 100vw;
    height: 20vh;
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1500;
    /* transition: all 0.8s; */
    visibility: hidden;
  }

  .menu-button,
  .menu-active {
    width: 20vw;
  }

  .background {
    background-color: #111131;
    position: fixed;
    z-index: 1000;
    visibility: hidden;
    /* transition: all 3s; */
  }

  input[type="checkbox"]:checked~nav {
    opacity: 1;
    visibility: visible;
  }

  input[type="checkbox"]:checked~.background {
    transform: scale(80);
    width: 100%;
    visibility: visible;
  }

  input[type="checkbox"]:checked~.hamburger-lines .line1 {
    transform: rotate(45deg);
  }

  input[type="checkbox"]:checked~.hamburger-lines .line2 {
    transform: scaleY(0);
  }

  input[type="checkbox"]:checked~.hamburger-lines .line3 {
    transform: rotate(-45deg);
  }

  .about {
    width: 80vw;
    height: 100vh;
    position: fixed;
    top: 65%;
  }

  .skills {
    width: 80vw;
    height: 100vh;
    top: 48%;
  }

  .column,
  .elements,
  .skill-section {
    width: 100%;
  }

  .home-contents {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
  }

  .experience {
    width: 100%;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    background-color: #202035;
    padding-bottom: 10%;
    padding-top: 10%;
  }

  .project {
    width: 40%;
  }

  .about {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
  }

  .skills {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -40%);
  }

  .contacts-contents {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
  }
}

@media (max-width: 800px) {
  .contact-btn {
    font-size: 20px;
    padding: 1%;
    height: 8vh;
    width: 30vw;
  }

  .about {
    top: 50%;
    left: 50%;
    transform: translate(-45%, -50%);
  }

  .about-element {
    font-size: 16px;
  }

  .skills {
    background-color: #202035;
  }
}